asgiref==3.5.2
backports.zoneinfo==0.2.1
dj-database-url==0.5.0
Django==4.0.5
psycopg2-binary==2.9.3
python-decouple==3.6
sqlparse==0.4.2
pre-commit==2.19.0
flake8==4.0.1
black==22.3.0
isort==5.10.1
pytest==7.1.2
django-stubs==1.11.0
mypy==0.950
